________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# Numerical methods

METHOD secant
PHASES linear2 & linear1 &
ABS_TOL 1e-10 MAX_ITER 10
X_INI w 1 x 2 y 3 z 4
________________________________________________________________________

# Client code specifications

CLIENT linear1
ROOT_GLOBAL_RANK 1
CALCS w x y GUESSES z
CONNECTION mpi_comm

CLIENT linear2 
ROOT_GLOBAL_RANK 2
CALCS z GUESSES w x y
CONNECTION mpi_comm
________________________________________________________________________

# Debuggers

DEBUG_NEWTON
#DEBUG_CLIENT
#DEBUG_PARSER
#DEBUG_SYSTEM
#DEBUG_EVOLUTION
DEBUG_SOLVER res # res unk x iter global j
#DEBUG_MAPPER
DEBUG_COMM
________________________________________________________________________
