________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# Numerical methods

METHOD picard
PHASES linear2 & linear1 &
PHASES_MAX_ITER 1 1
# In IO communication adjust ABS_TOL to printed precision in variables
ABS_TOL 1e-14 MAX_ITER 10
STEPS_JAC_CALC 0
# Solution w -0.709 x -1.89 y 2.36 z 3.6
X_INI x 0 y 0 z 0 w 0

________________________________________________________________________

# Client code specifications

CLIENT linear1
CALCS w x y GUESSES z
INPUT_NAME test0
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
CONNECTION io_spawn
BIN_COMMAND ../../../usr/bin/Test
#args: problem - client - connection - file name
ARGS 0 0 io input_name
IO_TYPE TEST

CLIENT linear2 
CALCS z GUESSES w x y
INPUT_NAME test1
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
CONNECTION io_spawn 
BIN_COMMAND ../../../usr/bin/Test
#args: problem - client - connection - file name
ARGS 0 1 io input_name
IO_TYPE TEST

________________________________________________________________________

# Debug section
DEBUG_NEWTON
DEBUG_CLIENT
#DEBUG_PARSER
#DEBUG_SYSTEM
#DEBUG_EVOLUTION
DEBUG_SOLVER iter # res unk x iter global j
#DEBUG_MAPPER
#DEBUG_COMM
________________________________________________________________________
