________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# Numerical methods

METHOD explicit_serial
PHASES linear2 & linear1 &
# In IO communication adjust ABS_TOL to printed precision in variables
ABS_TOL 1e-14 MAX_ITER 10
STEPS_JAC_CALC 0
# Solution w 1 x 2 y 3 z 4
X_INI x 0 y 0 z 0 w 0

________________________________________________________________________

# Client code specifications

CLIENT linear1
CALCS w x GUESSES y z
N_PROCS 1
INPUT_NAME test0
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
CONNECTION io
BIN_COMMAND ../../bin/Test
#args: problem - client - connection - file name
ARGS 4 0 io input_name
IO_TYPE TEST

CLIENT linear2 
CALCS y z GUESSES w x
INPUT_NAME test1
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
CONNECTION io 
BIN_COMMAND ../../bin/Test
#args: problem - client - connection - file name
ARGS 4 1 io input_name
IO_TYPE TEST

________________________________________________________________________

# Mappers

MAPPER map_test1
MAP_CLIENT linear2
STAGE pre_guess
GUESSES_MAPPED 1
________________________________________________________________________
