________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# Numerical methods

# Use only explicit serial in control-rod movement
# It has not sense to use newton method, because solution depends 
# on previous iterations
METHOD explicit_serial
# delta step in days
N_STEPS 1 DELTA_STEP 1.0
PHASES control_rod & fermi & 
PHASES_MAX_ITER 1 1
ABS_TOL 1e-4 MAX_ITER 100
DX_JAC_CALC 0.01
STEPS_JAC_CALC 100
X_EXT_ORDER 1
JAC_EXT_ORDER 1
X_INI fpow_m1 0.2 fpow_m2 0.2 fpow_m3 0.2 fpow_m4 0.2 k_eff 0.99 cr_z 0
________________________________________________________________________

# First client: neutronics

CLIENT fermi
N_PROCS 1
INPUT_NAME iaea
INPUT_EXT fer
OUTPUT_NAME pow_phys
OUTPUT_EXT dat
CONNECTION io_spawn
BIN_COMMAND /users/cacciaf/fermi/fermi
#BIN_COMMAND /home/fede/fermi/fermi
ARGS input
#ARGS input | grep "Keff" | awk '{print $2}' >keff.out
IO_TYPE NEUTRONIC_CR2KP

GUESSES cr_z              CALCS fpow_m1 fpow_m2 fpow_m3 fpow_m4 k_eff

N_PHYSICAL_ENTITIES 4 PHYSICAL_ENTITIES "ROD1" "MAT1" "MAT2" "MAT3"
N_CONTROL_RODS 1 CONTROL_RODS "ROD1"
________________________________________________________________________

# Second client: control rod manager

CLIENT control_rod
ROOT_GLOBAL_RANK 2
CONNECTION mpi_comm
GUESSES fpow_m1 fpow_m2 fpow_m3 fpow_m4 k_eff              CALCS cr_z
IO_TYPE NEUTRONIC_KP2CR
________________________________________________________________________

# Mappers

MAPPER spowk2fpowk
MAP_CLIENT fermi
STAGE post_calc
CALCS_PRE_MAP 5
________________________________________________________________________

# Debug section
#DEBUG_TIME
DEBUG_CLIENT
#DEBUG_PARSER
#DEBUG_SYSTEM
#DEBUG_EVOLUTION
DEBUG_SOLVER res # res unk x iter global j
#DEBUG_MAPPER
DEBUG_COMM
________________________________________________________________________
