________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# Numerical methods

METHOD secant
N_STEPS 1 DELTA_STEP 10.0
PHASES linear2 & linear1 &
ABS_TOL 1e-04 MAX_ITER 5
DX_JAC_CALC 0.01
STEPS_JAC_CALC 0
________________________________________________________________________

# Client code specifications

CLIENT relap
N_PROCS 1
INPUT_NAME core
INPUT_EXT i
RESTART_NAME from_imput
RESTART_EXT r
RESTART_PATH 
/run/user/1738/gvfs/smb-share:server=10.73.96.200,share=archivosrelap7/
OUTPUT_NAME from_input
OUTPUT_EXT o
OUTPUT_PATH 
/run/user/1738/gvfs/smb-share:server=10.73.96.200,share=archivosrelap7/
CONNECTION io
BIN_COMMAND wine wineconsole run.bat
ARGS input_name
IO_TYPE RELAP_POW2TH

GUESSES
  fpow_z1
  fpow_z2
  fpow_z3
  fpow_z4
  fpow_z5
MAP none  

CALCS
  tref_z1 tfuel_z1 void_z1
  tref_z2 tfuel_z2 void_z2
  tref_z3 tfuel_z3 void_z3
  tref_z4 tfuel_z4 void_Z4
  tref_z5 tfuel_z5 void_z5
MAP none

X_INI
fpow_z1  0.2
fpow_z2  0.2
fpow_z3  0.2
fpow_z4  0.2
fpow_z5  0.2
________________________________________________________________________

CLIENT fermi
N_PROCS 1
INPUT_NAME fuel_z5
INPUT_EXT fer
OUTPUT_NAME power_integrated
OUTPUT_EXT out
CONNECTION io
BIN_COMMAND /users/cacciaf/fermi/fermi
ARGS input_file
IO_TYPE FERMI_XS2POW

GUESSES 
  tref_z1 tfuel_z1 void_z1
  tref_z2 tfuel_z2 void_z2
  tref_z3 tfuel_z3 void_z3
  tref_z4 tfuel_z4 void_Z4
  tref_z5 tfuel_z5 void_z5  
MAP th2xs
GUESSES_MAPPED 300

CALCS
  fpow_z1
  fpow_z2
  fpow_z3
  fpow_z4
  fpow_z5
MAP pow2fpowc
CALCS_PRE_MAP 5

X_INI
tref_z1  450
tfuel_z1 305
void_z1  674.83
tref_z2  450
tfuel_z2 305
void_z2  674.83
tref_z3  450
tfuel_z3 305
void_z3  674.83
tref_z4  450
tfuel_z4 305
void_Z4  674.83
tref_z5  450
tfuel_z5 305
void_z5  674.83


              
________________________________________________________________________

# ALL THIS HAS TO BE DEFINED IN MAPPER th2xs

# Mapper: th2xs 
#
#MAPPER th2xs
#XS_FORMAT crm XS_FILE TABLAS.CRM
#N_GROUPS 5
#ENERGY_PER_FISSION 0.4 0.4 0.4 0.4 0.4
#MATERIALS
#MAT_ID 0 MATERIAL "E=1.8%/0VQ" N_BURNUP 3 DEPENDENCIES yes
#MAT_ID 1 MATERIAL "Reflector inferior (agua)" N_BURNUP 1 DEPENDENCIES no

# FERMI
#
#POWER 100
#N_PHY_ENT 10
#N_AXIAL_ZONES 5
#PHY_ENTITIES
#NAME "fuel_z1" COUPLED_CODE 0 IS_BURNABLE yes MAT_ID 0
#NAME "fuel_z2" COUPLED_CODE 0 IS_BURNABLE yes MAT_ID 0 
#NAME "fuel_z3" COUPLED_CODE 0 IS_BURNABLE yes MAT_ID 0
#NAME "fuel_z4" COUPLED_CODE 0 IS_BURNABLE yes MAT_ID 0
#NAME "fuel_z5" COUPLED_CODE 0 IS_BURNABLE yes MAT_ID 0
#NAME "fluid_z1" COUPLED_CODE 0 IS_BURNABLE no MAT_ID 1
#NAME "fluid_z2" COUPLED_CODE 0 IS_BURNABLE no MAT_ID 1
#NAME "fluid_z3" COUPLED_CODE 0 IS_BURNABLE no MAT_ID 1
#NAME "fluid_z4" COUPLED_CODE 0 IS_BURNABLE no MAT_ID 1
#NAME "fluid_z5" COUPLED_CODE 0 IS_BURNABLE no MAT_ID 1
#
# RELAP
#
#RELAP_T0 0
#RELAP_TF 100
#RELAP_MAX_DT 0.1
#RELAP_RADIAL_POINTS 11
#RELAP_PIPE_ZONES 120-010000 120-020000 120-030000 120-040000 120-050000
#RELAP_HS_ZONES 1200-001 1200-002 1200-003 1200-004 1200-005  

________________________________________________________________________
