syntax: glob

obj/*.o
*.vtk
*.msh
*.png
*.txt
bin/*
examples/*/bin/*
examples/*/obj/*
*.bathe
*step*
*.info
*.o
*.r
*out
*log
*ompiuri
*.sip
*.bat
*.dat"
*.toc
*.aux
*.out
kspinfo*
struct*
pow_phys*

