________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# RELAP

CODE_SPECIFIC
CODE_ID 0
FROM_CODE_ID 1 VAR 5
NAME relap
CONNECTION spawn
INPUT_FILE core 
N_PROCS 1 
COMMAND wine wineconsole run.bat
CODE_OUTPUT_PATH 
/run/user/1738/gvfs/smb-share:server=10.73.96.200,share=archivosrelap7/
RELAP_T0 0
RELAP_TF 100
RELAP_MAX_DT 0.1
RELAP_RADIAL_POINTS 11
RELAP_PIPE_ZONES 120-010000 120-020000 120-030000 120-040000 120-050000
RELAP_HS_ZONES 1200-001 1200-002 1200-003 1200-004 1200-005
END_CODE
________________________________________________________________________

# Fermi

CODE_SPECIFIC
CODE_ID 1
FROM_CODE_ID 0 VAR 15
NAME fermi 
CONNECTION spawn 
INPUT_FILE fuel_5 
N_PROCS 1
COMMAND /users/cacciaf/fermi/fermi
POWER 100
N_PHY_ENT 10
N_AXIAL_ZONES 5
PHY_ENTITIES
NAME "fuel_z1" COUPLED_CODE 0 IS_BURNABLE yes MAT_ID 0
NAME "fuel_z2" COUPLED_CODE 0 IS_BURNABLE yes MAT_ID 0 
NAME "fuel_z3" COUPLED_CODE 0 IS_BURNABLE yes MAT_ID 0
NAME "fuel_z4" COUPLED_CODE 0 IS_BURNABLE yes MAT_ID 0
NAME "fuel_z5" COUPLED_CODE 0 IS_BURNABLE yes MAT_ID 0
NAME "fluid_z1" COUPLED_CODE 0 IS_BURNABLE no MAT_ID 1
NAME "fluid_z2" COUPLED_CODE 0 IS_BURNABLE no MAT_ID 1
NAME "fluid_z3" COUPLED_CODE 0 IS_BURNABLE no MAT_ID 1
NAME "fluid_z4" COUPLED_CODE 0 IS_BURNABLE no MAT_ID 1
NAME "fluid_z5" COUPLED_CODE 0 IS_BURNABLE no MAT_ID 1
END_CODE
________________________________________________________________________

# XS

MAPPER pre
CODE_ID 1
TYPE th2xs
XS_FORMAT crm XS_FILE TABLAS.CRM
N_GROUPS 5
ENERGY_PER_FISSION 0.4 0.4 0.4 0.4 0.4
MATERIALS
MAT_ID 0 MATERIAL "E=1.8%/0VQ" N_BURNUP 3 DEPENDENCIES yes
MAT_ID 1 MATERIAL "Reflector inferior (agua)" N_BURNUP 1 DEPENDENCIES no
END_MAPPER
________________________________________________________________________

# Numerical methods

N_STEPS 1 DELTA_STEP 10.0
NONLINEAR_ABS_TOLERANCE 1e-07   NONLINEAR_MAX_ITERATIONS 10
METHOD D2N_SERIAL
DX_IN_JAC_CALC 0.01
FREC_IN_JAC_CALC 10
X_INI
CODE_ID 0 VAR 0.2 0.2 0.2 0.2 0.2
CODE_ID 1 VAR 450 450 450 450 450 
              305 305 305 305 305 
              674.83 674.83 674.83 674.83 674.83
________________________________________________________________________
