/*****************************************************************************\

NEWTON					|
						|
Implicit coupling 		|	CONFIG
in nonlinear			|	FILE
calculations			|
						|

-------------------------------------------------------------------------------

Configuration file of the problem.
Look for examples newton/examples.
To deep in see chapter 2 in newton/doc/newton-man.pdf after compiling.

\*****************************************************************************/

N_STEPS 10 DELTA_STEP 0.1