________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# Numerical methods

METHOD explicit_serial
PHASES linear2 & linear1 &
ABS_TOL 1e-04 MAX_ITER 5
X_INI x 0 y 0 z 0 w 0
________________________________________________________________________

# Client code specifications

CLIENT linear1
ID 0
CALCS w x y GUESSES z
CONNECTION mpi

CLIENT linear2 
ID 1
CALCS z GUESSES w x y
CONNECTION mpi
________________________________________________________________________
