________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# Numerical methods

METHOD explicit_parallel
PHASES linear2 & linear1 &
ABS_TOL 1e-14 MAX_ITER 10
STEPS_JAC_CALC 0
# Solution w -0.709 x -1.89 y 2.36 z 3.6
X_INI x 0 y 0 z 0 w 0

________________________________________________________________________

# Client code specifications

CLIENT linear1
CALCS w x y GUESSES z
N_PROCS 1
INPUT_NAME test0
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
CONNECTION io
BIN_COMMAND ../../bin/Test
#args: problem - client - connection - file name
ARGS 0 0 io input_name
IO_TYPE TEST

CLIENT linear2 
ID 1
CALCS z GUESSES w x y
CONNECTION mpi

________________________________________________________________________
