________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# Numerical methods

NONLINEAR_ABS_TOLERANCE 1e-07   NONLINEAR_MAX_ITERATIONS 10
METHOD explicit_serial
EXPLICIT_SERIAL_ORDER 0 & 1 END_EXPLICIT
DX_IN_JAC_CALC 0.01
N_UNK 4
________________________________________________________________________

# TEST CLIENT 0

CODE_SPECIFIC
CODE_ID 0
X_INI 0
FROM_CODE_ID 1 VAR 1
TO_CODE_ID 1 VAR 3
TYPE test
CONNECTION spawn
INPUT_NAME test0
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
N_PROCS 1 
BIN_COMMAND bin/Test
N_ARGS 2
ARGS CODE_ID INPUT_NAME
END_CODE
________________________________________________________________________

# TEST CLIENT 1

CODE_SPECIFIC
CODE_ID 1
X_INI 0 0 0
FROM_CODE_ID 0 VAR 3
TO_CODE_ID 0 VAR 1
TYPE test
CONNECTION spawn
INPUT_NAME test1
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
N_PROCS 1 
BIN_COMMAND bin/Test
N_ARGS 2
ARGS CODE_ID INPUT_NAME
END_CODE
________________________________________________________________________

