________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# Numerical methods

METHOD newton
PHASES linear1 & linear2 &
ABS_TOL 1e-07 MAX_ITER 2
X_INI x -1.89 y 2.36 z 3.6 w -0.709

________________________________________________________________________

# Client code specifications

CLIENT linear1
CALCS w x y GUESSES z
INPUT_NAME test0
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
CONNECTION io
BIN_COMMAND bin/Test
ARGS 0 input_name
TYPE TEST

CLIENT linear2 
CALCS z GUESSES w x y
INPUT_NAME test1
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
CONNECTION io 
BIN_COMMAND bin/Test
ARGS 1 input_name
TYPE TEST

________________________________________________________________________

#CLIENT RELAP
#  N_PROCS 1
#  INPUT_NAME core
#  INPUT_EXT i
#  RESTART_NAME from_imput
#  RESTART_EXT r
#  RESTART_PATH 
#  /run/user/1738/gvfs/smb-share:server=10.73.96.200,share=archivosrelap7/
#  OUTPUT_NAME from_input
#  OUTPUT_EXT o
#  OUTPUT_PATH 
#  /run/user/1738/gvfs/smb-share:server=10.73.96.200,share=archivosrelap7/
#  
#  GUESSES
#    fpow_z1
#    fpow_z2
#    fpow_z3
#    fpow_z4
#    fpow_z5
#  MAP none  
#
#  CALCS
#    tref_z1 tfuel_z1 void_z1
#    tref_z2 tfuel_z2 void_z2
#    tref_z3 tfuel_z3 void_z3
#    tref_z4 tfuel_z4 void_Z4
#    tref_z5 tfuel_z5 void_z5
#  MAP none
#
#CLIENT FERMI
#  N_PROCS 1
#  INPUT_NAME fuel_z5
#  INPUT_EXT fer
#  OUTPUT_NAME power_integrated
#  OUTPUT_EXT out
#  
#  GUESSES 
#    tref_z1 tfuel_z1 void_z1
#    tref_z2 tfuel_z2 void_z2
#    tref_z3 tfuel_z3 void_z3
#    tref_z4 tfuel_z4 void_Z4
#    tref_z5 tfuel_z5 void_z5  
#  MAP th2xs
#  GUESSES_MAPPED 300
#
#  CALCS
#    fpow_z1
#    fpow_z2
#    fpow_z3
#    fpow_z4
#    fpow_z5
#  MAP pow2fpowc
#  CALCS_PRE_MAP 5
