________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# Numerical methods

METHOD newton
PHASES linear2 & linear1 &
ABS_TOL 1e-15 MAX_ITER 10
STEPS_JAC_CALC 0
# Solution x -1.89 y 2.36 z 3.6 w -0.709
X_INI x 0 y 0 z 0 w 0

________________________________________________________________________

# Client code specifications

CLIENT linear1
CALCS w x y GUESSES z
INPUT_NAME test0
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
CONNECTION io
BIN_COMMAND bin/Test
ARGS 0 input_name
IO_TYPE TEST

CLIENT linear2 
CALCS z GUESSES w x y
INPUT_NAME test1
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
CONNECTION io 
BIN_COMMAND bin/Test
ARGS 1 input_name
IO_TYPE TEST

________________________________________________________________________
