________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# Numerical methods

METHOD explicit_serial
PHASES nonlinear2 & nonlinear1 &
# In IO communication adjust ABS_TOL to printed precision in variables
ABS_TOL 1e-14 MAX_ITER 5
STEPS_JAC_CALC 0
# Solution x = 1, y = 2
X_INI x 0 y 0

________________________________________________________________________

# Client code specifications

CLIENT nonlinear1
CALCS x GUESSES y
INPUT_NAME test0
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
CONNECTION io
BIN_COMMAND ../../bin/Test
#args: problem - client - connection - file name
ARGS 2 0 io input_name
IO_TYPE TEST

CLIENT nonlinear2 
CALCS y GUESSES x
INPUT_NAME test1
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
CONNECTION io 
BIN_COMMAND ../../bin/Test
#args: problem - client - connection - file name
ARGS 2 1 io input_name
IO_TYPE TEST

________________________________________________________________________
