________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# Numerical methods

# explicit methods diverge
METHOD secant
PHASES linear1 & linear2 & linear3 &
# In IO communication adjust ABS_TOL to printed precision in variables
ABS_TOL 1e-14 MAX_ITER 10
STEPS_JAC_CALC 0
# Solution w -0.709 x -1.89 y 2.36 z 3.6
X_INI x -1.89 y 2.36 z 3.6 w -0.709

________________________________________________________________________

# Client code specifications

CLIENT linear1
CALCS w x GUESSES y z
CONNECTION mpi_port
ID 0

CLIENT linear2
CALCS y GUESSES w x z
CONNECTION mpi_port
ID 1

CLIENT linear3
CALCS z GUESSES w x y
CONNECTION mpi_port
ID 2

________________________________________________________________________
