________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# Numerical methods

METHOD explicit_serial
# delta step in days
N_STEPS 1 DELTA_STEP 1.0
PHASES fermi & control_rod &
PHASES_MAX_ITER 1 1
ABS_TOL 1e-4 MAX_ITER 100
DX_JAC_CALC 0.01
STEPS_JAC_CALC 100
X_EXT_ORDER 1
JAC_EXT_ORDER 1
X_INI fpow_m1 0.2 fpow_m2 0.2 fpow_m3 0.2 fpow_m4 0.2 k_eff 0.99 cr_z 0
________________________________________________________________________

# First client: neutronics

CLIENT fermi
# Fail running MPI_Spawn
SPAWN_TYPE mpi
N_PROCS 1
INPUT_NAME iaea
INPUT_EXT fer
OUTPUT_NAME pow_phys
OUTPUT_EXT dat
CONNECTION io
BIN_COMMAND /users/cacciaf/fermi/fermi
ARGS input
#ARGS input | grep "Keff" | awk '{print $2}' >keff.out
IO_TYPE NEUTRONIC_CR2KP

GUESSES cr_z
CALCS fpow_m1 fpow_m2 fpow_m3 fpow_m4 k_eff

N_PHYSICAL_ENTITIES 4 PHYSICAL_ENTITIES "ROD1" "MAT1" "MAT2" "MAT3"
N_CONTROL_RODS 1 CONTROL_RODS "ROD1"
________________________________________________________________________

# Second client: control rod manager

CLIENT control_rod
ID 0
N_PROCS 1
#INPUT_NAME cr
#INPUT_EXT dat
#OUTPUT_NAME from_input
#OUTPUT_EXT out
CONNECTION mpi
#BIN_COMMAND ../../bin/cr
#ARGS io input_name 0
IO_TYPE NEUTRONIC_KP2CR
GUESSES fpow_m1 fpow_m2 fpow_m3 fpow_m4 k_eff
CALCS cr_z
________________________________________________________________________

# Mappers

MAPPER spow2fpow
MAP_CLIENT fermi
STAGE post_calc
CALCS_PRE_MAP 5
________________________________________________________________________

# Debug section
#DEBUG_TIME
DEBUG_CLIENT
#DEBUG_PARSER
#DEBUG_SYSTEM
#DEBUG_EVOLUTION
DEBUG_SOLVER res # res unk x iter global j
#DEBUG_MAPPER
#DEBUG_COMM
________________________________________________________________________
