________________________________________________________________________

                            NEWTON INPUT
________________________________________________________________________

# Numerical methods

METHOD broyden
PHASES nonlinear2 & nonlinear1 & nonlinear3 &
# In IO communication adjust ABS_TOL to printed precision in variables
ABS_TOL 1e-14 MAX_ITER 100
STEPS_JAC_CALC 0
DX_JAC_CAL 0.01
# (Starting from 0,0,0  with Broyden) Solution: x = 1, y = 2, z = 3
X_INI x 0 y 0 z 0

________________________________________________________________________

# Client code specifications

CLIENT nonlinear1
CALCS x GUESSES y z
INPUT_NAME test0
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
CONNECTION io_spawn
BIN_COMMAND ../../../usr/bin/Test
#args: problem - client - connection - file name
ARGS 3 0 io input_name
IO_TYPE TEST

CLIENT nonlinear2 
CALCS y GUESSES x
INPUT_NAME test1
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
CONNECTION io_spawn
BIN_COMMAND ../../../usr/bin/Test
#args: problem - client - connection - file name
ARGS 3 1 io input_name
IO_TYPE TEST

CLIENT nonlinear3
CALCS z GUESSES x y
INPUT_NAME test2
INPUT_EXT dat
OUTPUT_NAME from_input
OUTPUT_EXT out
CONNECTION io_spawn 
BIN_COMMAND ../../../usr/bin/Test
#args: problem - client - connection - file name
ARGS 3 2 io input_name
IO_TYPE TEST

________________________________________________________________________

# Debug section
DEBUG_TIME
#DEBUG_CLIENT
#DEBUG_PARSER
#DEBUG_SYSTEM
#DEBUG_EVOLUTION
DEBUG_SOLVER unk j x res iter global # res unk x iter global j
#DEBUG_MAPPER
#DEBUG_COMM

________________________________________________________________________
